/* =======Import font family======= */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&family=Roboto:wght@300&display=swap');

/* =======Style for body======= */
body {
    margin: 0;
    padding: 0;
    background: #242B33;
    color: #ffffff;
}

/* =======Style for header======= */
.header {
    background: url(../img/header_bg.png) no-repeat;
    background-size: cover;
    margin-bottom: 120px;    
    z-index: -500;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px 0px 178px;
    font-size: 14px;
}

.header__nav-logo {
    background: url(../img/header__logo.svg) no-repeat;
    width: 134px;
    height: 66px;
    cursor: pointer;
}

.header__nav-menu {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.navbar__item {
    display: inline-block;
    padding: 12px;
    margin-left: 40px;
    border-radius: 5px;
    transition: .2s;;
    cursor: pointer;
}

.navbar__item:hover {
    background-color: #6a7f80;
}

.header__welcome-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
    color: #D4C17F;
    margin-bottom: 100px;
}

.header__mouse {
    background: url(../img/mouse.svg);
    width: 40px;
    height: 40px;
    margin: 0 auto 200px;
}

.header__contacts {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}
  
.header__address {
    margin: 0 0 97px 0;
}

.header__address a {
    text-decoration: none;
    color: #ffffff;
}
  
.header__contacts-icons {
    margin-right: 15px;
}

.header__phone a {
    text-decoration: none;
    color: #ffffff;
}

/* ======= Section #1 ======= */
.roman-icon__number-first {
    position: relative;
}

.roman-icon__number-first::after {
    position: absolute;
    top: -100px;
    right: 30px;
    content: 'Ⅱ';
    color: #808080;
    font-size: 350px;
    z-index: -100;
    opacity: .1;
}

.section1__features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 120px;
    padding: 0;
}

.features__item {
    text-align: center;
    width: 20%;
}

.features__item-desc {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}

/* ======= Section #2 ======= */
.roman-icon__number-second {
    position: relative;
}

.roman-icon__number-second::after {
    position: absolute;
    top: -5px;
    left: 30px;
    content: 'Ⅲ';
    color: grey;
    font-size: 350px;
    z-index: -100;
    opacity: .1;
}

.section2__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 60px;
    color: #D4C17F;
}

.section2__list-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.section2__image img {
    position: relative;
    width: 445px;
    height: 260px;
    margin: 0 0 30px 0;
}

.section2__image p {
    position: absolute;
    margin: -100px 0 0 30px;
}

.section2__image-desc a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

/* ======= Footer ======= */
.footer {
    background-image: url(../img/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 175px 0;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer__left {
    width: 445px;
}

.footer__left-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
    color: #D4C17F;
    margin: 0 0 50px;
}

.footer__left-desc {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 24px;
}

.footer__right {
    width: 450px;
    margin-top: 70px;
}

input {
    margin: 0 0 0 10px;
    padding: 12px 20px;
    font-size: 14px;
    text-align: center;
    color: #BEBEBE;
    border: none;
    background-color: #CDD6DB;
    opacity: .5;
}

input:hover {
    background-color: #ffffff;
    color: #000000;
    transition: .1s;
    opacity: 1;
}

.footer__right p {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #E7E7E7;
    margin: 20px 20px 0 28px;
}

.form__position {
    margin: 0 0 0 10px;
    padding: 12px 45px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border: none;
    opacity: .5;
    background-color: #D4C17F;
    cursor: pointer;
}

.form__position:hover {
    background-color: #cd5c5c;
    transition: .1s;
    opacity: 1;
}

/* ======= Burger menu ======= */
.burger-menu {
    display: none;
    width: 40px;
    height: 30px;
    padding: 7px 7px 4px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    cursor: pointer;
}

.burger-menu .stick {
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin: 0 0 5px 0;
}

/* ======= Adaptive ======= */
@media screen and (max-width: 1030px) {
    .header {
        margin-bottom: 0px;    
    }

    .section1__features-list {
        margin: 30px 0;
        padding: 0;
    }

    .features__item {
        width: 50%;
        margin-bottom: 30px;
    }

    .section2__title {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 980px) {
    .section2__list-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2__image img{
        width: 100%;
    }

    .footer {
        padding: 60px 0 80px 0;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__left {
        width: 445px;
    }

    .footer__left-title {
        text-align: center;
    }

    .footer__right {
        width: 50;
        display: flex;
        justify-content: space-between;
    }

    .form__input {
        margin: 0;
    }

    .form__position {
        margin: 0;
    }

    .footer__right p {   
        margin: 20px 48px 0 0;
    }
}

@media screen and (max-width: 920px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__nav-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

@media screen and (max-width: 660px) {
    .header__nav {
        margin-bottom: 130px;
    }

    .header__welcome-title {
        font-size: 34px;
        margin-bottom: 70px;
    }

    .header__mouse {
        margin-bottom: 120px;
    }

    .header__address a, .header__phone a, .features__item-desc, .section2__image a {
        font-size: 14px;
    }

    .roman-icon__number-second::after {
        display: none;
    }

    .roman-icon__number-first::after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .features__item {
        width: 100%;
        margin-bottom: 15px;
    }

    .section2__title {
        font-size: 14px;
    }

    .section2__list-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2__image img {
        width: 380px;
        height: 285px;
    }

    .footer {
        padding-bottom: 40px;
    }

    .footer__left-title {
        font-size: 24px;
    }

    .footer__left {
        width: 100%;
        text-align: center;
    }

    .footer__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__form input {
        margin-bottom: 10px;
    }

    .form__phone-number {
        margin: 0;
    }

    .footer__right p {
        margin: 0 0 10px 0;
        text-align: center;
    }
}

@media screen and (max-width: 485px) {
    .header__contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .header__address {
        margin-bottom: 10px;;
    }

    .section1 {
        padding-top: 30px;
    }

    .section2__image img {
        position: relative;
        width: 230px;
        height: 135px;
    }

    .section2__image a {
        margin: 40px 0 0 -15px;
        display: flex;
        font-size: 12px;
    }
}